:root{
  --color-black: #0D0D0D;
  --color-gold: #FFD700;
  --color-gray: #999999;
  --color-white: #F5F5F5;
  --color-hoverGold: #C9A500;
  --color-sidebar: #1e1e1e;
}

body{
    background: var(--color-black);
}