

:root {
  /* Fundo geral */

  color-scheme: dark;

  
  --color-background: #040DBF;      /* azul universo */
  --color-background-alt: #274F73;  /* azul petróleo (gradiente secundário) */

  /* Sidebar e cards */
  --color-sidebar: #FFFFFF;         /* sidebar limpa */
  --color-card: rgba(255, 255, 255, 0.95);      /* cards levemente cinza para destacar */

  /* Destaques principais */
  --color-primary: #FFD700;         /* dourado mais vivo para contraste */
  --color-primary-hover: #E6C200;   /* dourado mais forte no hover */

  /* Texto */
--color-text-main: #F3F4F6;       /* quase branco com leve tom lilás */
--color-text-secondary: #E5E7EB;  /* cinza suave para não cansar */

  /* Bordas e inputs */
  --color-border: #3B4A6B;          /* borda sutil azulada */
  --color-input-bg: #ffffff81;        /* inputs claros */
  --color-input-border: #CCCCCC;    /* borda input */

  /* Botões */
  --color-button-bg: #FFD700;       /* botões dourados */
  --color-button-text: #1B263B;     /* texto escuro para contraste */
  --color-button-hover: #E6C200;    /* hover dourado forte */

    --bg-main: #0c0c0e;
  --bg-section: rgba(255,255,255,0.03);
  --bg-section-soft: rgba(255,255,255,0.02);
  --bg-divider: rgba(255,255,255,0.06);


  /* VARIAVEIS COR PREDOMINANTE */
  --accent-rgb: 34,34,34;
  --accent-secondary-rgb: 18,18,18;

  --accent: rgb(var(--accent-rgb));
  --accent-soft: rgba(var(--accent-rgb), .25);
  --accent-glow: rgba(var(--accent-rgb), .45);
}


body {
  min-height: 100vh; /* ocupa tela toda */
  background: linear-gradient(
    to top,
    #1a1a1d 0%,
    #141417 40%,
    #101013 100%
  );;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', 'Arial', sans-serif;
  color-scheme: dark;
}



