/* Base */
.back-button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 0.875rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.85);
    transition: opacity 0.2s ease, background 0.2s ease;
}

.back-button:hover {
    opacity: 1;
}

/* HERO */
.back-button--hero {
    position: absolute;
    bottom: 32px;
    left: 32px;

    padding: 8px 12px;
    border-radius: 999px;

    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(6px);

    opacity: 0.75;
}

/* PAGE */
.back-button--page {
    margin-bottom: 16px;
    color: #ccc;
    background: rgba(255, 255, 255, 0.12);
    color: var(--color-text-main);
    transition: transform 0.2s, background 0.2s, color 0.2s;
}

/* MODAL */
.back-button--modal {
    position: absolute;
    top: 16px;
    right: 16px;

    background: transparent;
    opacity: 0.6;
}

.back-button__icon {
    font-size: 1rem;
}

/* BACK BUTTON COMO ÍCONE */
.back-button--icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.12);
  color: var(--color-text-main);

  transition: transform 0.2s, background 0.2s, color 0.2s;
}

.back-button--icon:hover {
  background: var(--color-primary);
  color: var(--color-button-text);
  transform: translateY(-2px);
}


.hero{
  position: relative;
}

/* Alinha o botão ícone com o texto "Filmes Encontrados" */
.library-results {
    position: relative;
}

.library-results .back-button--icon {
    position: absolute;
    top: 0px;    /* ajusta verticalmente para alinhar com o número de resultados */
    left: 8px;  /* mantém à direita dentro da área de resultados */
    z-index: 10;
}

.library-results .back-button--page {
    position: absolute;
    top: 0px;    /* ajusta verticalmente para alinhar com o número de resultados */
    left: 8px;  /* mantém à direita dentro da área de resultados */
    z-index: 10;
}
